@use './code';

:root {
  --vp-c-green: #0072ff;
  --vp-c-green-light: #2a87f8;
  --vp-c-green-lighter: #3e93fb;

  --vp-c-green-dark: #046ae7;
  --vp-c-green-darker: #0362d7;
  --vp-layout-max-width: 90%;
  --vp-sidebar-bg-color: #fff;
  --vp-sidebar-width: 240px;
  --prism-block-padding-y: 1.2em;
}

.dark {
  --vp-sidebar-bg-color: #161618;
}

.VPContent .VPDoc.has-aside .content-container {
  max-width: 1200px;
}

.tagline-link {
  font-weight: 500;
  color: var(--vp-c-brand);
  text-decoration-style: dotted;
  transition: color 0.25s;
}

.VPSidebar {
  .nav {
    .item {
      h2.text {
        font-size: 18px;
      }
    }

    .items {
      padding-left: 10px;
    }
  }
}

.vp-doc [class*='language-'] pre {
  padding: 0;
}

.vp-doc {
  .el-descriptions__table {
    margin: 0;
  }
  h2 {
    border-top: 0;
  }
  .el-link {
    color: var(--el-link-text-color);
  }
  .el-link:hover {
    text-decoration: none;
  }

  .el-table__header,
  .el-table__body {
    margin: 0;
  }
  .el-table tr {
    border-top: 0;
  }
  .plus-sidebar {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .el-menu-item {
    margin-top: 0;
  }
  th,
  td {
    border: 0;
  }
  tr:nth-child(2n) {
    background-color: unset;
  }

  tr:nth-last-child(1) {
    border-bottom: 1px solid var(--vp-c-divider);
  }

  table {
    display: table;
    table-layout: auto;
    width: 100%;
    .el-tag {
      display: unset;
      margin-left: 4px;
    }
  }

  .plus-header .set-language-dropdown {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .tip a {
    text-decoration: underline;
  }

  .el-text a {
    text-decoration: none;
  }
}

.plus-image-preview-footer__icon {
  box-sizing: content-box;
}

.copyright {
  white-space: pre;

  .copyright-link {
    color: var(--vp-c-brand);
  }
}

.miit-link {
  display: none;
}
