.plus-date-picker {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  max-width: 100%;
  border-radius: var(--el-border-radius-base);
  border: 1px solid var(--el-border-color);

  &:hover {
    border-color: var(--el-border-color-hover);
  }

  &.is-focus {
    border-color: var(--el-color-primary);
  }

  .plus-date-picker__middle {
    display: inline-block;
    line-height: 30px;
    background-color: #fff;
    color: var(--el-text-color-placeholder);
  }
  .el-input__wrapper {
    width: 100%;

    &:hover {
      box-shadow: none;
    }
  }
  .el-input__wrapper.is-focus {
    box-shadow: none;
  }

  .plus-date-picker__start {
    font-size: 14px;
    .el-input__wrapper {
      border: none;
      box-shadow: none;
    }
  }
  .plus-date-picker__end {
    font-size: 14px;
    .el-input__wrapper {
      border: 0;
      box-shadow: none;
    }
  }
}
