.plus-date-picker {
  border: none;
  display: flex;
  flex-wrap: nowrap;
  .el-input__prefix {
    display: none;
  }
  .plus-date-picker__middle {
    display: inline-block;
    line-height: 30px;
    border-top: 1px solid #ebeff2;
    border-bottom: 1px solid #ebeff2;
    background-color: #fff;
  }
  .el-input__wrapper {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ebeff2;
    box-shadow: none;
    padding-right: 0;
  }
  .plus-date-picker__start {
    .el-input__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
  }
  .plus-date-picker__end {
    .el-input__wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
}
