@use 'mixins/mixins' as *;

@include b(form) {
  @include e(footer) {
    display: flex;
    justify-content: flex-end;
  }
  @include e(group__item) {
    margin-bottom: 20px;
    @include e(group__item__icon) {
      display: flex;
      align-items: center;

      @include elb(icon) {
        margin-right: 5px;
      }
    }
  }
}
