@use 'mixins/config' as *;
@use 'mixins/mixins' as *;
@use 'mixins/function' as *;

@include b(form) {
  &.no-has-label {
    & + .#{$el-namespace + -form-item__label} {
      width: 0;
      padding: 0;
    }
  }
  @include e(footer) {
    display: flex;
    justify-content: flex-end;
  }
  @include e(group__item) {
    margin-bottom: 20px;
    @include e(group__item__icon) {
      display: flex;
      align-items: center;

      @include elb(icon) {
        margin-right: 5px;
      }
    }
  }

  .#{$plus-namespace + -form-item-extra} {
    color: getCssVar('text-color-placeholder');
    font-size: getCssVar('font-size-base');
    margin-bottom: 18px;
  }
}
