.plus-form-item {
  width: 100%;
  .plus-form-item__label {
    width: 100%;
    display: flex;
    align-items: center;
    .plus-table-column__label__icon {
      margin-left: 2px;
    }
  }
}
.el-form-item.plus-form-item .plus-form-item-field {
  width: 100%;
}
.plus-form-item-field {
  width: 100%;
}
