@use 'mixins/mixins' as *;
@use 'mixins/config' as *;

@include b(form-item) {
  width: 100%;
  @include e(label) {
    display: inline-flex;
    align-items: center;

    @include b(table-column__label__icon) {
      margin-left: 2px;
    }
  }

  @include b(form-item) {
    &-field {
      width: 100%;
    }
    &-field.#{$el-namespace + -date-editor} {
      width: 100%;
    }
  }
}
