@use 'mixins/mixins' as *;
@use 'mixins/function' as *;

@include b(input-tag) {
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: getCssVar('fill-color-blank');
  box-sizing: border-box;
  border-radius: getCssVar('border-radius-base');
  border: 1px solid getCssVar('border-color');
  padding: 0 2px;
  box-sizing: border-box;
  height: getCssVar('component-size');
  line-height: getCssVar('component-size');

  &:hover {
    border-color: getCssVar('border-color-hover');
  }
  &.is-focus {
    border-color: getCssVar('color-primary');
  }

  @include e(tag) {
    margin-right: 5px;
  }

  @include e(input) {
    flex: 1;
    max-width: 208px;
    width: 208px;
    min-width: 85px;
    box-sizing: border-box;
    padding: 2px 0;

    @include elb(input__wrapper) {
      box-sizing: border-box;
      box-shadow: none;
    }
    @include elb(input__inner) {
      line-height: 24px;
      height: 24px;
    }
  }

  @include elb(input) {
    &.is-disabled {
      @include elb(input__wrapper) {
        box-shadow: none;
      }
    }
  }
}
