@use 'mixins/mixins' as *;
@use 'mixins/config' as *;
@use 'mixins/function' as *;
@use 'var/index';

$layout-height: calc(100vh - var(--plus-header-height));

@include b(layout) {
  height: 100vh;
  overflow: hidden;

  &.#{$el-namespace + -container} {
    flex-direction: column;
  }

  .#{$plus-namespace + -sidebar} {
    height: $layout-height;
    min-width: var(--plus-sidebar-min-width);
  }

  .#{$plus-namespace + -layout-main} {
    height: $layout-height;
    flex: 1;
    width: calc(100% - var(--plus-sidebar-width));
  }

  &.collapse {
    .#{$plus-namespace + -layout-main} {
      width: calc(100% - var(--plus-sidebar-min-width));
    }
  }

  .#{$plus-namespace + -layout-content} {
    padding: 0;
  }
}
