@use 'mixins/mixins' as *;

@include b(steps-form) {
  @include elb(steps) {
    margin-bottom: 20px;
  }
}

@include b(steps-form-vertical) {
  display: flex;
  @include elb(steps--vertical) {
    margin-right: 20px;
  }

  @include b(form) {
    flex: 1;
  }
}
